/*
body {
    font-size: 150%;
    max-width: 1000px !important;
}
button{
    padding: 5px 10px;
}

h1, h2, h3, h4, h5, h6, b, strong, th {
    font-weight: 500;
    color: #9ff;
}
*/
h1, h2, h3, h4, h5, h6, b, strong, th {
    margin: 0;
    font-weight: 500 !important;
}
strong {
 color: var(--sl-color-primary-700) !important;
}

body {
    /*font-size: 250%;*/
    margin-top: 0 !important;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #222;
    overflow-x: hidden;
}

a {
    color: var(--sl-color-primary-600);
    text-decoration: none;
}
a:visited { 
    color: var(--sl-color-primary-700);
}

:root {
    --sl-font-size-3x-small: 8px;
}